/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--main-color: #083ade;
	--main-text-color: white;
	--background-color:#010b2c ;
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* Algemene styling */
body {
	background-color: var(--background-color);
	color: var(--main-text-color);
	font-family: 'Futura', Helvetica, Arial, sans-serif;
}

svg {
	color: var(--color-background);
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--main-text-color);
}

/* Waarom kan ik deze code niet zien in de dev tool? */
/* Nav */
header {
	display:flex;
	justify-content: center;
	position: sticky; 
}

nav {
	background-color: var(--main-color);
	position: fixed ;
	left:0;
	right: 0;
	top:0;
	bottom:0;
	transition: .2s ease-in;
	translate: -100% 0%; /*Dit zorgt ervoor dat die nav niet meer in beeld is */
	width: 100vw;
	text-transform: uppercase;
	overflow: hidden;
}

img {
	width: 100%;
}

.menuZichtbaar {
	translate: 0% 0%;	
	overflow: hidden;
	overscroll-behavior: contain;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 600;
	font-size: 30px;
	text-wrap: wrap;
}

header button {
	display: flex;
    position: absolute;
	left: 1em;
	top: 1em;
	cursor: pointer;
	width: 3rem;
	gap: .5rem;
	justify-content: center;
	flex-direction: column;
	background-color: transparent;
	border: none;
	margin: 0 1rem;
}

header span {
	display: block;
	width: 55%;
	height: 2px;
	color: var(--main-text-color);
	font-size: 35px;
}


ul:nth-of-type(2) {
	display: flex;
	justify-content: space-around;
}


/* Body evenementen lijst */

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-of-type(1){
	display: grid;
}

ul:nth-child(2){
	padding-left: 0;
	display: grid;
	grid-template-columns:repeat(auto-fill, minmax(1fr, 1fr));
}



