/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--main-color: #083ade;
	--main-text-color: white;
	--background-color:#010b2c ;
}

/* https://font.download/font/futura-pt  */

@font-face {
	font-family: 'futura';
	src: url(https://font.download/font/futura-pt) format(ttc);
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* Algemene styling */
body, button {
	background-color: var(--background-color);
	color: var(--main-text-color);
	font-family: 'futura', Helvetica, Arial, sans-serif;
}

main {
	padding: 1rem;
}

svg {
	color: var(--color-background);
	/* width: 100%; */
}

li {
	list-style-type: none;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--main-text-color);
}

h2 {
	font-size: 32px;
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
}

/* Waarom kan ik deze code niet zien in de dev tool? */
/* Nav */
header {
	display:flex;
	justify-content: center;
	position: sticky; 
	top: 0;
	z-index: 2;
	padding: 1rem;
	transition: .2s;
}

header.active {
	background-color: var(--main-color);
}

img {
	width: 100%;
}

header nav nav.menuZichtbaar {
	translate: 0% 0%;	

}

header nav > button {
	display: flex;
    position: absolute;
	left: .5em;
	top: 2em;
	cursor: pointer;
	width: 3rem;
	gap: .5rem;
	justify-content: center;
	flex-direction: column;
	background-color: transparent;
	border: none;
	margin: 0 1rem;
}

header nav span {
	display: block;
	width: 55%;
	height: 2px;
	background-color: var(--main-text-color);
	font-size: 35px;
}

header nav nav ul{
	display: flex;
}

header nav nav ul:nth-of-type(1) div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

header nav nav ul:nth-of-type(1) div button {
	margin-right: auto;
	background-color: transparent;
	border: none;
	color: var(--color-background);
}

header nav nav ul:nth-of-type(1) div a {
	margin-right: auto;
	width: 25%;
}

header nav nav ul:nth-of-type(2) div a svg {
	width: 100%;
}

header nav nav {
	background-color: var(--main-color);
	position: fixed;
	display: flex;
	flex-direction: column;
	left:0;
	right: 0;
	top:0;
	padding: 1rem;
	bottom:0;
	transition: .2s ease-in;
	translate: -100% 0%; 
	width: 100vw;
	text-transform: uppercase;
	overflow: hidden;
	display: flex;

}

header nav nav ul:nth-of-type(1) {
	margin-bottom: auto;
	flex-direction: column;
	margin-top: 0;
}

header nav nav ul:nth-of-type(2) {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}


header nav nav ul:nth-of-type(2) li a {
	width: 60%;
	display: flex;
	justify-self: center;
	align-items: center;
}

header nav nav ul:nth-of-type(2) li a svg {
	width: 100%;
}



/* Body evenementen lijst */
/* Robbie Williams foto uiteindelijk moet het een slider worden */
 section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main > a:first-of-type {
	position: relative;
	display: flex;
	height: fit-content;
	justify-content: center;
}

main > a:first-of-type h1 {
	position: absolute;
	bottom: 4rem;
	font-size: 35px;
	text-transform: uppercase;
}

main > a:first-of-type p {
	position: absolute;
	bottom: 2rem;
	font-weight: 100;
}

/* De form */
main form {
	background-color: var(--main-color);
	margin: 1em;
	transform: translateY(-2em);
}

main form fieldset, main form button {
	border: none;
	padding: 1em 1em 1em 1em;
}

main form button {
	background-color: var(--main-color);
	width: 100%;
	font-size: 20px;
	transition: .5s ease-in;
}

main form button:hover {
	background-color: var(--color-background);
	color: var(--main-color);
}

/* net aangekondigd */
main section:nth-of-type(1) h2{
	margin-bottom: 4rem;
}

main section:nth-of-type(1) ul{
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 4rem;
}


/* wijder scherm */
/* button zoeken aanpassen zodat die ook kleiner word */

@media (width > 60em) {
	/* De responsiveness van de form */
	main form {
		display: flex;
		justify-content: space-around;
	}

	main form fieldset {
		display: flex;

	}
	/* De responsiveness van "net aangekondigd" */
	main section:nth-of-type(1) ul {
		grid-template-columns:repeat(3, 1fr);
	}

}

/* blijf op de hoogte box */
main section:nth-of-type(7) {
	background-color: var(--main-color);
}



/* Footer */
footer ul {
	display: flex;
	padding: 4rem;
}

footer ul:nth-of-type(1){
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

footer ul:nth-of-type(1) li, footer ul:nth-of-type(1) li {
	width: 25%;
}


footer ul:nth-of-type(3){
	justify-content: space-around;
	flex-wrap: wrap;
}


footer ul:nth-of-type(2) {
	align-items: center;
}

footer ul:nth-of-type(2) li a svg {
	width: 100%;
}
